@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;700&family=Knewave&display=swap');

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    text-decoration: none;
    list-style     : none;
    border         : none;
    font-family    : "Knewave", sans-serif;
}

body {
    overflow-x: hidden;
}

/*Custom properties*/

:root {
    --primary-color  : #DD6106;
    --secondary-color: #1E1E1E;
    --light-color    : #fff;
    --dark-color     : #000;
}

.flex {
    display: flex;
}

.flex-center {
    display        : flex;
    justify-content: center;
}

.wrapper {
    width : 100vw;
    height: 100vh;
}

.home {
    background: url(../img/bg.png) no-repeat center center/cover;
}

nav {
    justify-content: space-between;
    padding        : 2em;
}

.logo {
    color: var(--light-color);
}

.logo-span {
    color: var(--primary-color);
}

.menu-link {
    margin-right: 2em;
}

.menu-item {
    color    : var(--light-color);
    font-size: 1.2em;
}

.menu-item:hover,
.fa-bars:hover {
    color : var(--primary-color);
    cursor: pointer;
}

.fa-bars {
    color    : var(--light-color);
    font-size: 1.5em;
    display  : none;
}


/**INICIO*/

.content-info {
    width         : 100vw;
    height        : 60vh;
    align-items   : center;
    flex-direction: column;
}

.content-info-subtitle {
    font-size: clamp(1em, 5vw, 2em);
}

.content-info-title {
    font-size    : clamp(2em, 10vw, 5em);
    font-weight  : lighter;
    margin-bottom: .5em;
}

.btn {
    font-size    : 1.2em;
    padding      : .3em 2.5em;
    border-radius: 50px;
    background   : var(--primary-color);
    cursor       : pointer;
}

/**EVENTOS*/

.events {
    background: url(../img/bg2.png) no-repeat center center/cover;
}

.events-content {
    width           : 100vw;
    flex-direction  : column;
    align-items     : center;
    background-color: var(--dark-color);
    color           : var(--light-color);
    padding-bottom  : 5em;
}

.events .content-info-title {
    color      : var(--light-color);
    font-weight: lighter;
}

.events .btn {
    background-color: var(--dark-color);
    color           : var(--light-color);
}

.events-info {
    padding: 5em;
}

.events-title {
    font-size  : clamp(2em, 5vw, 3em);
    font-weight: lighter;
}

.divider {
    width           : calc(2em, 5vw, 3em);
    height          : 3px;
    background-color: var(--primary-color);
    margin-top      : 1em;
}

.card-content {
    width                : 100%;
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    gap                  : 2.5em;
}

.card {
    width           : 100%;
    height          : 228px;
    border-radius   : 20px;
    background-color: var(--secondary-color);
}

.card-img {
    width        : 100%;
    height       : 90%;
    border-radius: 20px 20px 0 0;
}

.card:nth-child(1) {
    background: url(../img/cards/1.png) no-repeat center center/cover;
}

.card:nth-child(2) {
    background: url(../img/cards/2.jpg) no-repeat center center/cover;
}

.card:nth-child(3) {
    background: url(../img/cards/3.png) no-repeat center center/cover;
}

.card:nth-child(4) {
    background: url(../img/cards/4.png) no-repeat center center/cover;
}

.card:nth-child(5) {
    background: url(../img/cards/5.jpg) no-repeat center center/cover;
}

.card:nth-child(6) {
    background: url(../img/cards/6.png) no-repeat center center/cover;
}

.card-info {
    width           : 100%;
    font-family     : 'Khula', sans-serif;
    background-color: var(--secondary-color);
    text-align      : center;
    padding         : .5em 0;
}

/**FOOTER*/

footer {
    width           : 100%;
    background-color: var(--primary-color);
    text-align      : center;
    padding         : 2em 0;
}

footer .info p {
    font-family: 'Khula', sans-serif;
    font-weight: bold;
}

footer .info a {
    color: var(--dark-color);
}


/**MEDIA QUERIES*/

@media screen and (max-width: 768px) {

    .menu {
        width           : 100vw;
        height          : 100vh;
        position        : absolute;
        top             : 0;
        left            : 0;
        padding         : 2em 0;
        text-align      : center;
        background-color: var(--dark-color);
        display         : none;
    }

    .menu li {
        padding: 2em;
    }

    .fa-bars,
    .show-menu {
        display: block;
        z-index: 1;
    }
}